.title{
    text-align: center;
    border: 2px solid blue;
}

.links{
    margin-left: 50px;
    margin-right: 500px;
    border: 2px solid brown;
}

h3{
    font-style: italic;
}

.images{
    margin-left: 100px;
    margin-right: 100px;
    height: 100px;
    width: 100px;
    border: solid 2px brown;
    display: flex;
}